* {
    box-sizing: border-box;
}

.loggedinhead {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-decoration: none;
    height: 80px;
};



.login-signup2 {
    color: #ffffff;
    height: 80px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 135px;
    // padding: 30px;

    .musicnavbarlogo {
        display: inline-flex;
        padding: 22px 17px;
        font-size: 30px;
        // font-weight: 100;
    }
    
    ul {
        margin: 0;
        padding: 0;
        display: inline-flex;
        list-style: none;
        font-size: 16px;
        font-weight: 400;

        li {
            display: inline-block;
            line-height: inherit;
            letter-spacing: 0;
            padding: 28px 17px;
        }
    }
};

#navbarlink {
    color: #ffffff;
}
#navbarlink:hover {
    color: #1ed760;
}